<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href=".">Podisum</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href=".">Home</a></li>
          <li><a target="_blank" href="https://github.com/pgodel/podisum">About</a></li>

        </ul>
          <span  style="float: right; color: white; margin-top: 8px" ng-controller="RefreshCtrl">
              <label class="checkbox" style="display: inline; line-height: 2em; margin-right: 10px">
                  <input style="margin-left: 0; margin-top: .6em" type="checkbox" ng-model="refresh.autoRefresh" ng-change="change()" />auto-refresh</label>
              <select style="float: right; display: inline; width: 70px" ng-model="refresh.rate"
                      ng-change="change()"
                      ng-options="r.label for r in rates">
              </select>
          </span>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
