{% extends "layout.html.twig" %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row" ng-app>

          {% raw %}


          {{ 'aaaa' + 'bbbb'}}

          {% endraw %}

      </div>

      <hr>

{% endblock %}