{% extends "layout.html.twig" %}
{% block content %}
    <script src="/js/app.js" type="text/javascript" ></script>

      <div ng-app="podisumApp">

          <div ng-view></div>

      </div>

{% endblock %}