{% extends "layout.html.twig" %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">

          <ul>
              <ol><a href="/angularjs">AngularJS version</a></ol>
              <ol><a href="/twig">Twig version</a></ol>

          </ul>

      </div>

      <hr>

{% endblock %}