# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
config/podisum.yml
app/config/parameters.ini
app/config/parameters.yml
