<div ng-show="loading" class="alert alert-loading">Loading....</div>

<div class="row" >
    <div ng-repeat="c in collections" class="span3 well">
        <h4>{{c.name}}</h4>

        <tabs>
                <pane ng-repeat="s in c.summaries" heading="{{s.ttl}}" active="$first">

                    <ul class="unstyled entry">
                        <li ng-repeat="entry in s.entries | limitTo:20 | orderBy:'counter':true">
                            <div class="entry-line">
                                <span class="badge" ng-class="getEntryClass(entry.counter,s.avg)">
                                    <small>{{ entry.counter }}</small>
                                </span>
                                <div class="entry-field"  title="{{ entry['field'] }}" >
                                    {{ entry['field'] }}
                                </div>
                            </div>
                            <span class="float-right muted">
                                {{ (entry.counter / (s.ttl / 60))|number:2 }}/min
                            </span>

                            <i ng-show="entry.up" class="float-right icon-arrow-up"></i>
                            <span ng-show="entry.added" class="float-right label label-warning" style="margin-right: 2px;"><small>+{{entry.added}}</small></span>
                        </li>
                    </ul>
                    <div>
                        Avg:
                        <span class="badge badge-inverse">
                        <i ng-show="s.avgUp" class="icon-arrow-up icon-white"></i>
                        <i ng-show="s.avgDown" class="icon-arrow-down icon-white"></i>
                        {{ s.avg|number:2 }}
                    </span>
                        <span class="float-right">Entries/min:
                            <span class="badge badge-inverse">
                                <i ng-show="s.avgmUp" class="icon-arrow-up icon-white"></i>
                                <i ng-show="s.avgmDown" class="icon-arrow-down icon-white"></i>
                                {{ s.avgm|number:2 }}
                        </span>
                        </span>
                    </div>

                </pane>
        </tabs>
    </div>
</div>

