<div ng-show="loading" class="alert alert-loading">Loading....</div>

<div class="row" >
    <div ng-repeat="c in collections" class="span3 well">
        <h4>{{c.name}}</h4>

        <tabs>
                <pane ng-repeat="s in c.summaries" heading="{{s.ttl}}" active="$first">

                    <ul class="unstyled entry">
                        <li ng-repeat="entry in s.entries | limitTo:20 | orderBy:'counter':true">
                            <span class="badge" ng-class="getEntryClass(entry.counter,s.avg)">
                                <small>{{ entry.counter }}</small>
                            </span>
                            <div class="entry-field" title="{{ entry['field'] }}" >
                                {{ entry['field'] }}
                            </div>
                            <span class="float-right muted">
                                {{ (entry.counter / (s.ttl / 60))|number:2 }}/min
                            </span>

                            <i ng-show="entry.up" class="float-right icon-arrow-up"></i>
                        </li>
                    </ul>
                    <div>
                        Avg: <span class="badge badge-inverse">{{ s.avg|number:2 }}</span>
                        <i ng-show="s.avgUp" class="icon-arrow-up"></i>
                        <i ng-show="s.avgDown" class="icon-arrow-down"></i>
                        <span class="float-right">Entries/min: <span class="badge badge-inverse">{{ s.avgm|number:2 }}</span>
                            <i ng-show="s.avgmUp" class="icon-arrow-up"></i>
                            <i ng-show="s.avgmDown" class="icon-arrow-down"></i>
                        </span>
                    </div>

                </pane>
        </tabs>
    </div>
</div>

