.alert-loading {
    position: absolute; z-index: 2000; left: 25em; top: 5px;
}

ul.entry {
    font-size: .8em;
}

.entry-line {
    display: inline-block; max-width: 18em; overflow: hidden;
}

.entry-field {
    display: inline-block; max-width: 18em; overflow: hidden;
}

.float-right {
    float: right;
}

.span3 {
    margin-left: 10px;
}

.well {
    padding: 10px;
}
