mongo: mongodb://localhost:27017
mongo_db: podisum
redis: tcp://localhost:6379
redis_key: podisum
default_ttl: 86400
metrics:
  -
    tag: dovecot_login
    metric: "dovecot.login|login"
    ttl: 86400
    summaries: "300,3600,86400"